<h1>Kona Platform Terms and Conditions</h1>
        <p>
          Our Terms and Conditions were last updated on 22/02/2022. Please read
          these terms and conditions carefully before using Our Service.
        </p>

        <h2>Interpretation and Definitions</h2>

        <div>
          <h2>Interpretation</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni,
            perspiciatis?
          </p>
        </div>

        <div>
          <h2>Definitions</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>

          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Beatae praesentium illum voluptatum esse?</li>
            <li>Quam cupiditate rem blanditiis asperiores.</li>
            <li>Rem pariatur vel cupiditate quibusdam?</li>
            <li>Dolorum at et nobis id!</li>
            <li>Ut repellendus modi mollitia eos?</li>
            <li>Reprehenderit optio vitae vel molestias!</li>
            <li>Neque voluptates ipsa modi temporibus.</li>
            <li>Dolor at reprehenderit iusto perspiciatis.</li>
          </ul>
        </div>
